* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto {
    display: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/fondopantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

/* SECTIONS */
section {
    background-color: rgba(37, 23, 41, 0.7);
    border-radius: 20px;
    padding: 60px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    max-width: 800px;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 20px 0;
}


/* TIPOGRAFIA */
h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#primerPantalla h1 {
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
}


/* INPUTS Y SELECT */
input,
select {
    padding: 10px;
    margin: 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: bold;
    width: 250px;
    outline: none;
}

/* BOTONES */
.opcion,
#btnIniciarSesion,
#btnRegistrarse,
#btnEntrar,
#btnGuardar,
#btnCalcularPlazoFijo,
#btnConvertir,
#btnSimularBtc {
    width: 220px;
    padding: 15px 0;
    margin: 20px auto;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: rgb(187, 92, 214);
    transition: all 0.3s ease;
    display: inline-block;
}


.opcion:hover,
button:hover {
    background-color: rgb(150, 70, 180);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(187, 92, 214, 0.4);
}


.btnVolver {
    background-color: transparent !important;
    border: 1px solid white !important;
    width: auto !important;
    padding: 10px 20px !important;
    margin-top: 30px;
    font-size: 0.9rem;
    color: white;
}

#btnCerrarSesion {
    position: fixed;
    top: 20px;
    right: 50px;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-back:hover {
    color: rgb(187, 92, 214);
    transform: scale(1.2);
}

.btn-back svg {
    width: 30px;
    height: 30px;
}



/* RESPONSIVE */

/*Celulares*/

@media (max-width: 768px) {
    section {
        padding: 40px 20px;
        width: 95%;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
    }

    input,
    select {
        width: 80%;
        margin: 10px auto;
    }

    #btnCerrarSesion {
        right: 20px;
    }
}

/*celu chico*/

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .opcion,
    #btnIniciarSesion,
    #btnRegistrarse,
    #btnEntrar,
    #btnGuardar,
    #btnCalcularPlazoFijo,
    #btnConvertir,
    #btnSimularBtc {
        width: 100%;
        max-width: 250px;
    }

    input, select {
        width: 100%;
    }

    .btn-back {
        top: 10px;
        left: 10px;
    }

    .btn-back svg {
        width: 25px;
        height: 25px;
    }

    section {
        padding:  50px 15px 30px 15px;
    }

    #btnCerrarSesion {
        top: 10px;
        right: 10px;
        padding: 8px 12px !important;
        font-size: 0.8rem;
    }
}