* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 38, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;           
    width: 100vw;            
    overflow: hidden;
}

.oculto {
    display: none;
}

/* pagina inicio */ 

#paginaInicio {
    background-color: rgb(37, 23, 41);
    border-radius: 20px;
    padding: 80px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    max-width: 800px;
    width: 90%;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
}

#primerPantalla h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    line-height: 1.2;
}

#btnIniciarSesion {
    width: 200px; 
    margin: 30px auto;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

#btnRegistrarse {
    width: 200px; 
    margin: 30px auto;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}